.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #040531; /* Background color */
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #122062; /* Border color */
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #0e1955; /* Input background color */
  color: white; /* Input text color */
}

button {
  border: none;
  background-color: #0168b3; /* Button background color */
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #122062; /* Darker button background color on hover */
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.button-spacing {
  margin: 0.5rem; /* Adjust the spacing as needed */
}

.welcome-email-content {
  text-align: left; /* Set the alignment to left */
  /* Add more styles here if needed */
}
